In [2]:
import pandas as pd
import numpy as np

Reading train and test files (tsv - Tabular seperated values)  //file format

In [10]:
train = pd.read_csv('train.tsv', sep='\t')
test = pd.read_csv('test.tsv' , sep='\t')

In [15]:
print ("Size of test data: rows x cols: ", test.shape)
print ("Size of train data: rows x cols: " ,train.shape)

Size of test data: rows x cols:  (444761, 7)
Size of train data: rows x cols:  (1037774, 8)

In [19]:
## Datatypes of train and test datasets respectively 
## objects are categorical fields(strings)

print (train.dtypes)  
print ("\n", test.dtypes)

train_id               int64
name                  object
item_condition_id      int64
category_name         object
brand_name            object
price                float64
shipping               int64
item_description      object
dtype: object

 id                    int64
name                 object
item_condition_id     int64
category_name        object
brand_name           object
shipping              int64
item_description     object
dtype: object

In [21]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,1436222,Tarte rainforest after dark colored clay,1,Beauty/Makeup/Makeup Palettes,Tarte,36.0,1,"A brand-new, unused, unopened, undamaged item...."
1,402989,Mac mineralize skin finish,3,Beauty/Makeup/Face,MAC,15.0,1,"Color is gold deposit, about 85% of product left"
2,638275,White Case iPhone 6/6s,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,3.0,1,New Ultra thin Candy TPU Silicone Rubber Soft
3,1113629,Victoria's Secret push-up plunge,3,Women/Underwear/Bras,Victoria's Secret,18.0,1,VS sexy little thing multi way bras both size ...
4,328823,Disney Princess Toddler Boots Size 10,2,Kids/Girls 2T-5T/Shoes,Disney,13.0,1,New with out box!

In [22]:
train.price.describe()

count    1.037774e+06
mean     2.673494e+01
std      3.862050e+01
min      0.000000e+00
25%      1.000000e+01
50%      1.700000e+01
75%      2.900000e+01
max      2.004000e+03
Name: price, dtype: float64

In [23]:
train.shipping.describe()

count    1.037774e+06
mean     4.470511e-01
std      4.971887e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: shipping, dtype: float64