In [2]:
import pandas as pd
import numpy as np

Reading train and test files (tsv - Tabular seperated values)  //file format

In [3]:
train = pd.read_csv('train.tsv', sep='\t')
test = pd.read_csv('test.tsv' , sep='\t')

In [4]:
print ("Size of test data: rows x cols: ", test.shape)
print ("Size of train data: rows x cols: " ,train.shape)

Size of test data: rows x cols:  (444761, 7)
Size of train data: rows x cols:  (1037774, 8)

In [6]:
## Datatypes of train and test datasets respectively 
## objects are categorical fields(strings)

print (train.dtypes)  
print ("\n", test.dtypes)

train_id               int64
name                  object
item_condition_id      int64
category_name         object
brand_name            object
price                float64
shipping               int64
item_description      object
dtype: object

 id                    int64
name                 object
item_condition_id     int64
category_name        object
brand_name           object
shipping              int64
item_description     object
dtype: object

In [7]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,1436222,Tarte rainforest after dark colored clay,1,Beauty/Makeup/Makeup Palettes,Tarte,36.0,1,"A brand-new, unused, unopened, undamaged item...."
1,402989,Mac mineralize skin finish,3,Beauty/Makeup/Face,MAC,15.0,1,"Color is gold deposit, about 85% of product left"
2,638275,White Case iPhone 6/6s,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,3.0,1,New Ultra thin Candy TPU Silicone Rubber Soft
3,1113629,Victoria's Secret push-up plunge,3,Women/Underwear/Bras,Victoria's Secret,18.0,1,VS sexy little thing multi way bras both size ...
4,328823,Disney Princess Toddler Boots Size 10,2,Kids/Girls 2T-5T/Shoes,Disney,13.0,1,New with out box!

In [9]:
# dataset statistics
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037774 entries, 0 to 1037773
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   train_id           1037774 non-null  int64
 1   name               1037774 non-null  object
 2   item_condition_id  1037774 non-null  int64
 3   category_name      1033392 non-null  object
 4   brand_name         594827 non-null   object
 5   price              1037774 non-null  float64
 6   shipping           1037774 non-null  int64
 7   item_description   1037772 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 63.3+ MB

In [10]:
#summary of 'price' feature column
train.price.describe()

count    1.037774e+06
mean     2.673494e+01
std      3.862050e+01
min      0.000000e+00
25%      1.000000e+01
50%      1.700000e+01
75%      2.900000e+01
max      2.004000e+03
Name: price, dtype: float64

In [18]:
# no of unique values in brand_name feature 
len(train.brand_name.unique())    ## 4413 unique values in brand_name

# count of no. of unique values of each type
train.brand_name.value_counts()

Nike                 37851
PINK                 37639
Victoria's Secret    33652
LuLaRoe              21720
Apple                12116
                     ...
Acorn                    1
Morgan                   1
Meow Mix                 1
Coola                    1
Dragonfly                1
Name: brand_name, Length: 4413, dtype: int64